*{ 
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Arial','calibri', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:  #fff; 
}
/* Ma div avec la classe content qui englobe tout le contenu de mon site*/
.content{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}
/* L'entête de mon Portfolio*/
header {
    position: fixed;
    justify-content: left;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 40px;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    color: white;
    align-items: center;
    border-radius: 5px;
}



nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    line-height: 20px;
}
nav ul li a:hover{
    color: #32cd32; 
    cursor: pointer;
}
nav ul li a{
    font-size: 1.1rem;
    color: white;
    padding-left: 15px;
    padding-right: 10px;
}

.active{
    color: #111; 
}
.prenom{
    color: #9340ff; 
}
/* La section accueil de mon Portfolio*/
.home{
    width: 100%;
    display: flex;
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
    height: 80vh;
}
.home-content{
    width: 100%;
    align-items: center;
    display: flex; 
}
.home-text> p{
    padding: 10px;
    font-size: 2.7rem;
}

.home-text> a> button{
    position: relative;
    display: block; 
    margin: 0 auto;
    cursor: pointer;
    font-size: 2.6rem;  
    padding: 10px;
    color: #fff;
    background-color: #9340ff; 
    border-radius: 5px;
    border: none;
    margin-top: 13px;
}
.home-text> a> button:hover{
    background-color: #00c8c8; 
    color: #111;
}
.home-image img{
   height: auto;
   width: 25rem;
}
/* La section à propos de mon Portfolio*/
.infos{
    width: 100%;
    display: flex;
    background-color: #f4f4f4; 
    height: 80vh;
    border-bottom: 2px solid #2e8b57; 
    padding-bottom: 60px;
    margin-top: 4rem; 
    margin-bottom: 4rem;
}

.infos-content{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos-text{
    width: 100%;
}
.infos h2{
    position: relative;
    margin: 0 auto;
    color: #9340ff; 
    width: 30rem;
    font-size: 2.3rem;
    left: 45%;
    margin-top: 3rem;
}

.infos-text p{ 
    position: relative;
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
    right: 350px;
}
.infos-text .nom1{
    color: #9340ff; 
}

.infos-text button{
    font-size: 1.8rem;
    color: #fff;
    background-color: #9340ff; 
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 340px;
    top: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    
}
.infos-text button:hover{
    background-color: #42e3ff; 
    color: #111;
}
.infos-image img{
    height: auto;
    width: 19rem;
    border-radius: 50%;
    border: 4px solid #9340ff; 
    position: relative;
    right: 300px;
    box-shadow: 2px 2px 25px black;
    top: 50px;
}
/* section projets de mon Portfolio*/
.project{
    width: 100%; 
    justify-content: center;
    align-items: center;
    margin-top: 4rem; 
    margin-bottom: 4rem;
    height: 70vh;
}
.project h2{
    text-align: center;
    font-size: 1.8rem;
    color: #9340ff; 
    margin-bottom: 30px;
}
.project-content{
    text-align: justify;
    font-style: italic;
    display: flex;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
}
.project-content p{
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.project-text{
    padding: 8px 15px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 45px;
    box-shadow: 2px 2px 10px black;
}

.project-text button{
    font-size: 15px;
    background-color: #fff;
    padding: 5px 35px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    border: 1px solid black;
}
.project-text button:hover{
    background-color: blue;
}

/* La section compétence de mon Portfolio*/
.Competence {
    text-align: center;
    padding: 100px 0; 
    background-color: #f7f7f7;
    margin: 0; 
    height: 80vh; 
}
.Competence h2{
    font-size: 30px;
    position: relative;
    margin-top: 0;
    bottom: 70px;
}

.Competence-content {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 30px;
}

/* Les deux types de compétences (Hard et soft)*/
.Competence-soft, .Competence-hard {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 40%;
}

h3 {
    margin-bottom: 15px;
}

.skills {
    margin-bottom: 15px;
}

/* Barre de progression des différentes compétences*/
.progression-barre {
    height: 8px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin-top: 5px;
}

/* La barre colorée à l'intérieur des deux compétences  */
.progression-intérieur {
    height: 100%;
    background-color: #9340ff; 
    border-radius: 4px;
    
}

/* Section contact de mon Portfolio*/
.form{
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #2e8b57; 
    margin: 0; 
    padding: 100px 0; 
}
input:focus, textarea:focus {
    background-color: rgba(244, 244, 244, 0.5);
}
.form h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-top: 0;
}
.form .contact1{
    color: #9340ff; 
}
.form-content{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.form-input1{
    display: flex;
    width: 100%;
    text-align: center;
    color: #fff;
    gap: 20px;
    justify-content: center;
    gap: 65px; 
    margin-bottom: 15px;
}
.form-input1 label{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
    }
.form-input1 input{
    font-size: 26px;
    border: none;
    padding: 5px;
    border: 1px solid #9340ff; 
    border-radius: 10px;
}

.form-input2{
    width: 100%;
    text-align: center;
    color: #fff;
    justify-content: center;
}
.form-input2 label{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    margin-right: 40%;
    
}
.form-input2 input{
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 47%;
    border: 1px solid #9340ff; 
 }  
 .form-input3{
    width: 100%;
    text-align: center;
    justify-content: center;
 }
 .form-input3 textarea{
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #9340ff; 
    padding: 5px;
 }
.form-button{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.form-button button{
    font-size: 35px;
    background-color: #9340ff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 20px;
    cursor: pointer;
    margin-bottom: 20px;  
}

.form-button button:hover{
    background-color: blue;
}
/* section footer de mon Portfolio*/
.footerPartie{
    background-color: #f0f0f0;
    height: 85px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 100px;
    justify-content: space-between;
    display: flex;
}
/* Le défilement en douceur des différentes parties de mon Portfolio*/
.infos, .project, .Competence, .form {
    opacity: 0;
    transform: translateY(80px); 
    transition: opacity 1s ease-out, transform 1s ease-out; 
}

.infos.visible, 
.project.visible, 
.Competence.visible, 
.form.visible {
    opacity: 1;
    transform: translateY(0);
}